.root {
  padding: 24px;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  gap: 50px;
  height: 100%;
  overflow: auto;
}

.headerText {
  font: var(--font-xl-bold)
}

.subHeaderText {
  font: var(--font-m-bold)
}

.cardTitleText {
  color: #d1af68;
  font: var(--font-m-bold)
}



.text {
  font: var(--font-m-bold)
}

.listItem {
  display: flex;
  justify-content: center;
}

.cardsShedule {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 15px;
}