.wriperInstruct {
  display: flex;
  justify-content: center;
}
.select {
  width: 1000px;
}
.img {
  align-items: flex-start;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  border: 0.15rem solid;
  border-color: #0c182d;
}
.text {
  border-radius: 20px;
  border: 0.15rem solid;
  border-color: #0c182d;
  font: var(--font-xl-bold);
}
.wriperInfo {
  display: flex;
  gap: 50px;
}
