@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap';

:root {
  --font-famili-main:'Montserrat', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-xs-size: 12px;
  --font-xs-line: 20px;
  --font-xs: var(--font-weight-regular) var(--font-xs-size) / var(--font-xs-line) var(--font-famili-main);
  --font-m-size: 16px;
  --font-m-line: 24px;
  --font-m:var(--font-weight-regular) var(--font-m-size) / var(--font-m-line) var(--font-famili-main);
  --font-m-bold:var(--font-weight-bold) var(--font-m-size) / var(--font-m-line) var(--font-famili-main);
  --font-l-size: 20px;
  --font-l-line: 28px;
  --font-l:var(--font-weight-regular) var(--font-l-size) / var(--font-l-line) var(--font-famili-main);
  --font-l-bold:var(--font-weight-bold) var(--font-l-size) / var(--font-l-line) var(--font-famili-main);
  --font-xl-size: 24px;
  --font-xl-line: 32px;
  --font-xl:var(--font-weight-regular) var(--font-xl-size) / var(--font-xl-line) var(--font-famili-main);
  --font-xl-bold:var(--font-weight-bold) var(--font-xl-size) / var(--font-xl-line) var(--font-famili-main);
}