.root {
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 10px;
}

.wrapperLogo {
  display: flex;
  border-radius: 20px 20px 0px 0px;
  align-items: center;
  justify-content: center;
  background-color: #263145;
}

.logo {
  align-items: center;
  width: 100px;
}
.wriperInstruct {
  padding: 12px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.titleText {
  font: var(--font-xl-bold);
}

.text {
  font: var(--font-l);
}