.logo {
  align-items: center;
  width: 100%;
}
.wriperInstruct {
  display: flex;
  justify-content: center;
}
.instruct {
  background-color: #7a88a2;
  text-align: center;
  color: #0c182d;
  width: 50%;
  border-radius: 20px;
  border: 0.35rem solid;
  border-color: #0c182d;
}
